@use 'colors';
::ng-deep {
	.mat-select-value-text {
		color: white;
	}
}
.crud {
	padding: 2em;
	justify-content: center;
	align-items: center;

	&__elements {
		display: flex;
		gap: 2em;
		justify-content: space-between;
		width: 70%;

		.fields {
			gap: 10px;
			width: 100%;
		}

		.load-image {
			gap: 12px;
			&__image {
				width: 232px;
				border-radius: 4px;
				border: 1px solid colors.$primary-color;
				height: 50%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}

			.mat-raised-button {
				background-color: #27ae60;
				color: white;
			}
		}
	}
}
