@use 'colors';
.card {
	width: 200px;
	height: 330px;
	color: white;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	position: relative;

	.card-content {
		flex: 1;
		&__header {
			margin-bottom: 10px;
			.title {
				color: colors.$primary-color;
			}

			.subtitle {
				display: flex;
				justify-content: space-between;
				margin-top: 5px;

				&__hour {
					color: colors.$accent-color;
				}
			}
		}

		&__img {
			height: 100%;
			background-image: url(https://material.angular.io/assets/img/examples/shiba2.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			margin: 0 -16px 16px -16px;
		}

		&__content {
			justify-content: space-between;
			text-align: center;
			gap: 5px;

			.location {
				text-transform: uppercase;
			}
		}
	}

	&--selected {
		box-shadow: 0px 4px 16px 2px rgb(227 30 99);
	}
}
