<div class="container">
	<div class="container__card custom-card flex-column">
		<img src="assets/images/card-menus/buys.png" />
		<span>VENTAS</span>
	</div>

	<div class="container__card custom-card flex-column">
		<img src="assets/images/card-menus/events.png" />
		<span>EVENTOS</span>
	</div>

	<div class="container__card custom-card flex-column">
		<img src="assets/images/card-menus/genres.png" />
		<span>GENEROS</span>
	</div>
	<div class="container__card custom-card flex-column">
		<img src="assets/images/card-menus/statistics.png" />
		<span>REPORTES</span>
	</div>
</div>
