@use 'colors';

.root {
	display: flex;
	height: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	&__card {
		height: 20em;
		text-align: center;

		h4 {
			color: colors.$primary-color;
		}

		.card-content {
			flex: 1;
			.content {
				justify-content: space-between;
				height: 100%;
				&__login {
					gap: 1em;
					:nth-child(1) {
						color: colors.$accent-color;
						font-size: 12px;
						cursor: pointer;
					}
				}

				&__redirect {
					font-size: 12px;
					margin-top: 10px;
					:nth-child(1) {
						color: white;
					}
					:nth-child(2) {
						padding-left: 5px;
						color: colors.$accent-color;
						cursor: pointer;
					}
				}
			}
		}
	}
}
