@use 'colors';

.root {
	display: flex;
	height: 100%;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	&__card {
		height: auto;
		text-align: center;
		width: 350px;
		h4 {
			color: colors.$primary-color;
		}

		.content {
			justify-content: space-between;
			height: 100%;
			gap: 12px;

			&__register {
				font-size: 12px;

				:nth-child(1) {
					color: white;
				}
				:nth-child(2) {
					padding-left: 5px;
					color: colors.$accent-color;
					cursor: pointer;
				}
			}
		}
	}
}
