@use 'colors';
.content {
	padding: 2em;
	background-color: colors.$secondary-color;
	display: flex;
	gap: 1em;
	justify-content: center;
	&__form {
		align-items: center;

		button {
			width: 100%;
		}
	}
}
