@use 'colors';

.root {
	display: flex;
	height: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	&__card {
		height: 370px;
		text-align: center;

		h4 {
			color: colors.$primary-color;
		}

		.content {
			justify-content: space-between;
			height: 100%;

			&__login {
				gap: 1em;
				:nth-child(1) {
					color: colors.$accent-color;
					font-size: 12px;
					cursor: pointer;
				}
			}

			&__register {
				padding-top: 1em;
				font-size: 12px;

				:nth-child(1) {
					color: white;
				}
				:nth-child(2) {
					padding-left: 5px;
					color: colors.$accent-color;
					cursor: pointer;
				}
			}
		}
	}
}
